<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6156282025330850"
     crossorigin="anonymous"></script>
</head>
<body>
    <h1>RolVue Login</h1>
  
    <div id="loading-container" style="display: none;">
      <div class="lds-hourglass" id="loading-symbol"></div>
    </div>
    
    <form id="grades-form">
        <label for="school-id">School ID:</label>
        <input type="text" id="school-id" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" required>
        
        <label for="remember_me" style="display: inline;">
  <input type="checkbox" id="remember_me" name="remember_me"> Remember me
</label>
        <br>
        <button id='submitlogin' type="submit">Submit</button>
    </form>
    <script src="/static/js/script.js" defer></script>
</body>
</html>
